section.get-started {
  background-color: var(--primary-dark-violet);
  background-image: url('../assets/bg-boost-desktop.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: aliceblue;
}

section.get-started p {
  margin: 2rem 1rem .05rem;
  font-size: xx-large;
  font-style: bold;
}
