footer {  
  background-color: var(--neutral-Very-dark-violet);
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 3rem 5% 4rem;
}

.footer-links a{
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.footer-links a:first-child{  
  margin-bottom: 1rem;
}

.footer-social { 
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: space-between;  
}

.footer-social img {
  margin-inline: .5rem;
}


